<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>La liste de Schindler</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<script src="http://jscolor.com/release/2.0/jscolor-2.0.4/jscolor.js"></script>
		
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
		
		<style>
			<% include style.css %>
		</style>
	</head>
	<body>
		<h1>ui c'est la list</h1>
		<div class="controls">
			<a href="/export"><button class="btn btn-primary">export JSON</button></a>
			<span class="glyphicon-wrapper" title="tri par date"> 
				<span class="glyphicon glyphicon-calendar"></span> 
				<span>
					<button type="button" data-sort="date:asc" title="tri par date croissant"><span class="glyphicon glyphicon-chevron-up"></span></button>
				</span>
				<span>
					<button type="button" data-sort="date:desc" title="tri par date décroissant"><span class="glyphicon glyphicon-chevron-down"></span></button>
				</span>
			</span>
			
			<span class="glyphicon-wrapper" title="tri par importance"> 
				<span class="glyphicon glyphicon-signal"></span> 
				<button title="tri par importance croissant" type="button" data-sort="importance:desc"><span class="glyphicon glyphicon-chevron-up"></span></button>
				<button title="tri par importance décroissant" type="button" data-sort="importance:asc"><span class="glyphicon glyphicon-chevron-down"></span></button>
			</span>
		</div>
		<ul id="taskList" class="laliste">
		<% todolist.forEach(function(todo) { %>
		<% var date = (todo['dateFin']+"").replace('/', '').replace('/', '') %>
		<% date = date.slice(4)+date.charAt(2)+date.charAt(3)+date.charAt(0)+date.charAt(1) %>
			<li class="mix" style="background-color:#<%= todo['couleur'] %>" data-date="<%= date %>" data-importance="<%= todo['importance'] %>">
				<p><%= todo['nom'] %></p>
				
				<a href="/supprimer/<%= todo['id'] %>">
					<span class="glyphi glyphicon glyphicon-remove last-gliphy"></span>
				</a> 
				
				<a onclick="show_modal('<%= todo['nom'] %>', '<%= todo['_id'] %>', '<%= todo['couleur'] %>', '<%= todo['dateFin'] %>', '<%= todo['importance'] %>', '<%= todo['dateDebut'] %>')">
					<span class="glyphi glyphicon glyphicon-pencil"></span>
				</a>
				<span class="glyphi glyphicon glyphicon-calendar" title="<%= todo['dateDebut'] %> - <%= todo['dateFin'] %>"></span>
				
				<span class="importance importance-<%= todo['importance'] %>">
					<% if(todo['importance'] == 0) { %>
						peu important
					<% } if(todo['importance'] == 1) { %>
						normal
					<% } if(todo['importance'] == 2) { %>
						important
					<% } if(todo['importance'] == 3) { %>
						très important
					<% } %>
				
				</span>
			</li>
		<% }); %>
		</ul>
		<form action="/ajouter" method="post">
			<p><input type="text" name="newtodo" id="newtodo" placeholder="ajouter une tache" autofocus="autofocus"> 
			<a href="#" onclick="toggle()">
				<span style="margin-left:10px;" class="glyphicon glyphicon-cog"></span>
			</a>
			<input type="submit" class="hidden"></p>
			<div class="advanced-task" id="advanced-task">
				<div class="row-form">
					Couleur de la tache: <input type="color" class="jscolor" value="343839" name="couleur">
				</div>
				<div class="row-form">
					Date de fin de la tache : <input type="date" id="datepicker" name="datefin">
				</div>
				<div class="row-form">
					Importance de la tache : 
					<select name="importance" class="selectpicker">
						<option style="color:#729DC8;" value="0">peu important</option>
						<option style="color:#26A65B;" value="1">importance normale</option>
						<option style="color:#F89406;" value="2">important</option>
						<option style="color:#F22613;" value="3">très important</option>
					</select>
				</div>
				<div class="row-form">
					<input type="submit" class="btn btn-primary">
				</div>
			</div>

		</form>

		<div class="modal fade" role="dialog" id="lamodale">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" style="color:black">Editer la tache</h5>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<div class="row-form">
								<label for="new_name">Nouveau nom :</label>
								<input type="text" class="form-control" id="new_name" placeholder="">
							</div>
							
							<input type="hidden" id="modal_task_id">
							<input type="hidden" id="datedebut">
							
							<div class="row-form">
								<label for="new_color">Nouvelle couleur : </label>
								<input type="color" class="form-control" id="new_color" name="couleur">
							</div>
							
							<div class="row-form">
								<label for="new_date">Nouvelle date de fin : </label>
								<input type="date" id="datepickerModal" name="datefin" id="new_date" class="form-control">
							</div>
							
							<div class="row-form">
								<label for="new_date">Nouvelle importance : </label>
								<select name="importance" class="selectpicker form-control" id="new_importance">
									<option style="color:#729DC8;" value="0">peu important</option>
									<option style="color:#26A65B;" value="1">importance normale</option>
									<option style="color:#F89406;" value="2">important</option>
									<option style="color:#F22613;" value="3">très important</option>
								</select>
							</div>

						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="send_modal()">Envoyer</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		function show_modal(nom, id, couleur, datefin, importance, datedebut) {
			document.getElementById("new_name").value           = nom
			document.getElementById("modal_task_id").value      = id
			document.getElementById("datedebut").value          = datedebut
			document.getElementById("new_color").value          = couleur
			$("#datepickerModal").val(datefin)
			
			$("#selectpicker").selectpicker('val', importance)

			$("#datepickerModal").datepicker({ dateFormat: 'dd/mm/yy' })
			
			$("#lamodale").modal('toggle')
		}

		function send_modal() {
			new_name    = document.getElementById("new_name").value
			id          = document.getElementById("modal_task_id").value
			new_couleur = document.getElementById("new_color").value.slice(1)
			datefin     = $("#datepickerModal").val().replace("/", "").replace("/", "")
			datedebut   = $("#datedebut").val().replace("/", "").replace("/", "")
			importance  = document.getElementById("new_importance").value
			if (datefin == "") { datefin = datedebut }

			if (new_name != "" ) {//&& datefin != "" && datedebut != ""
				//console.log("/edit/" + id + "/" + encodeURI(new_name) + "/" + encodeURI(new_couleur) + "/" + encodeURI(datefin) + "/" + encodeURI(importance))
				window.location.href = "/edit/" + id + "/" + encodeURI(new_name) + "/" + encodeURI(new_couleur) + "/" + encodeURI(datefin) + "/" + encodeURI(importance) + "/" + encodeURI(datedebut)
			}
		}

		function toggle()
		{
			if (document.getElementById("advanced-task").style.visibility == "hidden")	{
				document.getElementById("advanced-task").style.visibility = "visible"
			}
			else {
				document.getElementById("advanced-task").style.visibility = "hidden"
			}
		}
		window.onload = function () { document.getElementById("advanced-task").style.visibility = "hidden" }

		function refresh_list() {
			//clear the list
			ul = document.getElementById("taskList")
			ul.innerHTML = ''

			//remplace with the updated content
			$.ajax({
				url: '/api/list',
				success: function(result) {
					document.getElementById("taskList").innerHTML = result
					console.log("refresh ok")
				}
			});
		}

		$( function() {
			$( "#datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' })
		} );
	</script>

	<script>
		<% include mixitup.min.js %>
	</script>

	<script>
		var containerEl = document.querySelector('#taskList')
		var mixer = mixitup(containerEl)
	</script>
</html>