		<% todolist.forEach(function(todo) { %>
			<li>
				<p><%= todo['nom'] %></p>
				<a href="/supprimer/<%= todo['id'] %>"><span class="glyphi glyphicon glyphicon-remove"></span></a> <a onclick="show_modal('<%= todo['nom'] %>', '<%= todo['_id'] %>')"><span class="glyphi glyphicon glyphicon-pencil"></span></a>
			</li>
		<% }); %>