body {
	text-align: center;
	background-color: #141819;
	color:white;
	font-size:2em;
}

h1 {
	font-size:2em;
}

ul {
	padding:0;
	padding-top:20px;
	padding-bottom:20px;
	text-align: left;
	background-color: #343839;
	border-radius: 20px;
	width: 80%;
	max-width: 800px;
	color: inherit; 
	margin:auto;
	min-height: 150px
}

ul.laliste li {
	padding-top:10px;
	list-style-type:none;
	min-height: 50px;
	border-bottom: 1px solid black;
	margin: 0px 15px;
	border-radius: 20px;
	margin-bottom: 5px;
}

ul.laliste li:hover {
	filter: brightness(120%);
}

ul li:last-child {
	border:none;
}

ul li a {
	color:whitesmoke;
}

ul li a:hover {
	color:#69BFE7;
}

li p {
	margin-left: 15px;
	display: inline;
}

.hidden {
	display: none;
}

#newtodo {
	margin-top: 10px;
	max-width: 700px;
	width: 75%;
	color:black;
	border-radius: 13px;
	border:none;
	padding-left: 10px;
}

.glyphi {
	float:right;
	margin-top: 3px;
	margin-right: 10px;
}

.last-gliphy {
	margin-right:20px;
}

.modal {
	color:black;
	text-align:left;
}

.modal h5 {
	font-size: 2em;
	text-align: center;
}

.advanced-task {
	visibility: hidden;
}

.glyphicon-cog {
	color:white;
}

.row-form {
	margin-top: 15px;
}

input, select {
	color:black;
}

.importance {
	font-size: 0.7em;
	background-color: white;
	border-radius: 25px;
	padding: 0 10px;
	margin-right: 15px;
	margin-top: 5px;
	float:right;
}

.importance-0 {
	color:#729DC8;
}

.importance-1 {
	color:#26A65B;
}

.importance-2 {
	color:#F89406;
}

.importance-3 {
	color:#F22613;
}

.#ui-datepicker-div {
	z-index: 9999;
}

.controls {
	max-width:750px;
	width:75%;
	margin:auto;
	height: 45px;
}

.controls button {
	float:left;
}

.controls > span {
	float:right;
	margin-right: 10px;
	background-color: black;
	border-radius: 10px;
	padding: 5px 10px;
}

span.glyphicon-wrapper:nth-child(2) {
	margin-right: 0;
}

.controls > span button {
	background-color: black;
	color:white;
	border:none;
	margin-right: 5px;
}